@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hove-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-txt-clr: #b0b3c1;
    --fc-today-bg-color: rgba(0, 255, 234, 0.146) !important;
    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 16px;
    --spacing4: 20px;
    --spacing5: 40px;
    --spacing6: 80px;
    --spacing7: 160px;
}


*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Poppins, 'Segow UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar main"
    "sidebar charts"
}




/* Navbar */
/* Navbar */
/* Navbar */


nav{
    grid-area: navbar;
    border-bottom: 1px solid var(--line-clr);
    
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas: 
    "motivationalQuotes-container weatherData-container"

}

/* Quotes part */
/* Quotes part */
/* Quotes part */

.motivationalQuotes-container{
    grid-area: 'motivationalQuotes-container';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80px;
}

.quote{
    font-size: 1.5em;
    position: relative;

}

.author{
    position: absolute;
    /* bottom: -40px; */
    right: 0;
    font-size: 0.8em ;
}

/* Weather part */
/* Weather part */
/* Weather part */

.weatherData-container{
    grid-area: 'weatherData-container';
    height: 80px;

    /* background-color: blueviolet; */
}


.weather-div{
    display: flex;
    margin: 4px 10px 4px 0;
    align-items:baseline;
    gap: 0.3em;
    height: 80px;

}

.loading{
    text-align: center;
    padding-bottom: 8px;
}

.loading img{
    margin-right: 100px;
    width: 3em;
    animation: rotate 2s infinite linear;
}


@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg)
    }
}

.icon{
    width: 4em;
    transform: translateY(0.4em);
}

.weather-div div:nth-of-type(2){
    font-size: 1.6em;
}
.weather-div div:nth-of-type(3){
    font-size: 1.4em;
    transform: translateY(-1em); /* Move it slightly up */
    margin-left: -4px;
}
.weather-div div:nth-of-type(4){
    bottom:0;
    /* margin-top: 10px; */
    font-size: 1.3em;
}


/* Sidebar  */
/* Sidebar  */
/* Sidebar  */
aside{
    grid-area: sidebar;
}

li img{
    filter: invert(1);
}

#sidebar{
    background-color: var(--base-clr);
    box-sizing: border-box;
    height: 100vh;
    width: 160px;
    padding: 5px 1em;
    border-right: 1px solid var(--line-clr);

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}

#sidebar.close{
    padding: 5px;
    width: 56px;
}
#sidebar.close h4{
    margin-right: 10px;
}
#sidebar.close .logo{
    padding: 0.75em;
}


#sidebar ul{
    list-style: none;
}

#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    .logo{
        font-weight: 600;
    }
}


#sidebar ul li.active a {
    background-color: var(--hove-clr);
}

#sidebar a, #sidebar .logo{
    border-radius: .5em;
    padding: .75em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1.3em;
    cursor: pointer;
}

#sidebar img{
    flex-shrink: 0;
    fill: var(--text-clr);
}


#sidebar a span{
    flex-grow: 1; /* fills out the parent completly */
    font-size: 1rem;
}

#sidebar span{
    padding: 6px 0 0 0;
}

#sidebar a:hover{
    background-color: var(--hove-clr);
}

#toggle-btn{
    margin-left: auto;
    padding: 0.85em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor:pointer;

    img{
        transition: rotate 150ms ease;
    }

}

.rotate img:last-child{
    rotate: 180deg;
}

#toggle-btn:hover{
    background-color: var(--hove-clr);
}

#sidebar img {
    width: 23px;  /* Change the width */
    height: 23px; /* Change the height */
}


/* CSS pentru continutul din main */
/* CSS pentru continutul din main */
/* CSS pentru continutul din main */

.section-calendar{
    grid-area: main;
    display: grid;
    /* grid-template-columns: 200px repeat(auto-fit,(1200, 1fr)); */
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "left-side right-side"
}

/* Left main - Tasks */
/* Left main - Tasks */
/* Left main - Tasks */

/* new task button */
/* new task button */
/* new task button */

.open-form {
    background: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    margin-left: 36px;
    margin-top: 4px;
  }
  
  .open-form span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  .open-form::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.2s;
  }
  
  .open-form:hover {
    color: #fff;
  }
  
  .open-form:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }


.left-main{
    grid-area: left-side;
    border: 1px solid var(--line-clr);
    height: calc(100vh - 80px - 20px - 2px) !important ;
    overflow: auto;
    position: sticky;
    top:0;
    bottom: 0;
}

.fc {
    height: calc(100vh - 80px - 20px - 2px - 10px ) !important ;
    width: 98%;
    margin: 10px  auto 0px auto;
}


.newTask-container {
    /* background-color: #545677; */
    height: 100px;
    width: 90%;
    margin: auto;
    margin-top: 4px;
    padding: 0.2em;
    border-radius: 4px;
    border: 1px solid var(--line-clr);
    margin-bottom: 10px;
}

#input-tasks {
    width: 96%;
}

#input-categories{
    width: 40%;
}

#colours{
    margin-left: 13%;
}

.task-container{
    width: 86%;
    margin: auto;
    margin-top: 4px;
    border: 1px solid var(--line-clr);
    border-radius: 10px;
    padding: 8px;
    color: black;
    
}

.task-container button{
    all: unset;
    cursor: pointer;
    /* background-color: none; */
    /* padding: 3px;
    border: none;
    color: white;
    border-radius: 6px;
    border: 1px solid black; */
}
.task-container img{
    width: 20px;
    background-color: none;
}

.task-container:hover{
    cursor: pointer;
}

.event-container{
    overflow: hidden;
    color:#11121a;
    border-radius: 4px;
    height: 100%;

}


/* Right main - Calendar */
/* Right main - Tasks */
/* Right main - Tasks */
/* Right main - Tasks */

/* Scrollbar*/

.right-main{
    grid-area: right-side;
    /* background-color: lightcoral; */
    border: 1px solid var(--line-clr);
}

.section-calendar{
    padding: 20px;
    padding-bottom: 0;
}

.section-calendar p{
    color: bar(--secondary-txt-clr);
    margin-top: 5px;
    margin-bottom: 15px;
}

.event-delete-button{
    margin-left: 5px;
    cursor: pointer;
    all: unset;
}




/* Responsive design */
/* Responsive design */
/* Responsive design */

@media(max-width: 800px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 9fr;
        grid-template-areas: 
        "navbar"
        "main"
    }

    .icon{
        width: 3em;
    }


    /* navbar */
    /* navbar */
    /* navbar */

    /* quotes container */
    /* quotes container */
    /* quotes container */

    nav{
        grid-template-columns: 1fr minmax(80px, 140px) ;

    }
    
    .weatherData-container{
        grid-area: 'weatherData-container';
    }
        
    .motivationalQuotes-container{
       font-size: 0.6em;
       justify-content: start;
       display: flex;
       padding: 20px 10px 20px 20px;
    }
    .author{
       display: none;
    }

    .weatherData-container{
        width: 80px;
        flex-wrap: nowrap;
    }

    .weather-div div:nth-of-type(2){
    
        font-size:1em;
    }

    .weather-div div:nth-of-type(3){
        font-size: 1em;
        transform: translateY(-0.7em);
    }

    .weather-div div:nth-of-type(4){
        font-size: 0.9em;
    }

    .section-calendar{
        padding: 1em 1em 60px 1em;
    }

    #sidebar{
        height: 60px;
        width: 100%;
        border-right: none;
        border-top: 1px solid var(--line-clr);
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;

        > ul{
            padding: 0;
            display: grid;
            grid-auto-columns: 60px;
            grid-auto-flow: column; /*fiecare li are 60px si e o noua coloana */
            align-items: center;
            overflow-x: scroll; /* te lasa sa dai scroll pe axa X in caz de sunt prea multe elemente*/

        }
        ul li{
            height: 100%;
        }

        ul a{
            width: 60px;
            height: 60px;
            padding: 0;
            border-radius: 0;
            justify-content: center;
        }
 
        
        ul li span, ul li:first-child, img:last-child{
            display: none;
        }    
    }


}

/* New Task form */
/* New Task form */
/* New Task form */

dialog {
    margin: auto;
    z-index: 10;
    border: solid 1px rgb(188, 188, 255);
    width: 440px;
    height: 320px;
    background-color: #efefef;
    border-radius: 4px;
}

dialog img {
    width: 24px;
    height: 24px;
}


dialog::backdrop {
    background-color: rgba(126, 126, 126, 0.1);
}


.close-header-form{
    display: flex;
    justify-content: flex-end;

}


.close-header-form{
    height: 34px;
    display: flex;
    border-radius: 4px;

}

.draggable-header-form {
    flex: 1;
    transition: 0.15s ;
}

.draggable-header-form:hover{
    background-color: rgba(184, 184, 184, 0.568);
    cursor:move;
}


.close-form{
    all:unset;
    height: inherit;
    transition: 0.15s ;
}


.draggable-header-form:hover ~.close-form {
    background-color: rgba(184, 184, 184, 0.568);
}

.draggable-header-form:hover ~.checkbox {
    background-color: rgba(184, 184, 184, 0.568);
}

/* checkbox */
.checkbox{
    border: none;
}

.close-form{
    transition: 0.15s ;
    padding-right: 10px;
}

.close-form img:hover {
    background-color: #b9b9b9;
    border-radius: 12px;
    cursor: pointer;
}

.input-title-form{
    border-bottom: solid 1px black;
    margin: 4px 20px;
    margin-left: calc(20px + 1em + 24px);

}

.input-title-form input{
    border: none;
    width: 100%;
    font-size: 1.6em;
    background-color: inherit;
}
.input-title-form input:focus{
    outline: none;
}

/*Div cu toate elementele din form fara input */
/*Div cu toate elementele din form fara input */
/*Div cu toate elementele din form fara input */
.form-new-task{
    margin-top: 10px;
}

.form-information{
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.form-description,.form-time,.form-category,.form-color,.form-check{
    display: flex;
    gap: 1em;
}


.description-textarea{
    background-color: rgb(216, 216, 216);
    width: 100%;
    resize: none;
    padding: 4px;
    border-radius: 4px;
    transition: background-color 0.15s;
    border: none;
    font-size: 1em;
}

.description-textarea:focus{
    outline: none;
}

.description-textarea:hover{
    background-color: rgb(198, 198, 198);
}

#check-event{
    display: none;
}

label{
    cursor: pointer;
}

.form-check .checkbox-label{
    font-size: 13px;
}


.change-form{
    position: absolute;
    bottom: 10px;
    right: 16px;
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #03045e;
    /* position: relative; */
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    cursor: pointer;
    background-color: #000000;
}


.change-form::before,
.change-form::after {
 content: '';
 position: absolute;
 top: 0;
 width: 0;
 height: 100%;
 transform: skew(15deg);
 transition: all 0.2s;
 overflow: hidden;
 z-index: -1;
}

.change-form::before {
 left: -10px;
 background: #7ef2ff;
}

.change-form::after {
 right: -10px;
 background: #002845;
}

.change-form:hover::before,
.change-form:hover::after {
 width: 63%;
}

.change-form:hover span{
    color: white;
    transition: 0.2 ease;

}

.change-form span {
 color: white;
 font-size: 12px;
 font-weight: 600;
 transition: all 0.2s ease-in;
}



/* Calendar */


/* 
.fc-direction-ltr .fc-timegrid-now-indicator-arrow {
    border-color: #37ff00;
}

  

.fc .fc-timegrid-now-indicator-line {
    opacity: .7;
    border-style: solid;
    border-color: #37ff00;
    border-width: 3px 0 0;
} */

.fc-daygrid-day-frame, .fc-scrollgrid-sync-inner, .fc-scroller ,.fc-scroller-liquid-absolute:hover{
    cursor: pointer !important ;

}

/* Charts */
/* Charts */
/* Charts */
/* Charts */
/* Charts */
/* Charts */
/* Charts */
/* Charts */
/* Charts */



.invisible{
    display: none;
}

.section-charts{
    /* height: 91vh; */
    height: calc(100vh - 80px);
    width: 100%;
}

.charts-container{
    height: 100%;
    display: grid;
    grid-template-rows:  repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    /* gap: 30px; */
    background-color:#11121a;
    justify-items: center;
    align-items: center;
}
.chart-wrapper {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 20px;
    background-color: #202231 ;
    border-radius: 2px;
    position: relative;
}


canvas {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    padding: 20px;
    
}

.chart-range-wrapper{
    position:absolute;
    right: 20px;
    top:10px;
}

/* ////////// input charts ////////////// */
.date-inputs{
    position: absolute;
    top: 2%;
    left: 1%;
    display: flex;
    width: 26%;  
    min-width: 200px;
    justify-content: space-between;
}

.date-inputs input[type="date"]{
    padding: 2%;
    font-size: 0.8em;
    border-radius: 4px;
    border: 1px solid white;
    background-color: #ffffff;
    width: 100%;
    max-width: 100px;
}


.input-wrapper {
    position: relative;
    margin: 10px 0 0 0;
}

.date-inputs label{
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    position:absolute;
    top:-1.4em;

}


